[user]
	email = hyy122013@outlook.com
	name = qwerhyy

[core]
	pager = delta
	editor = hx

[interactive]
	diffFilter = delta --color-only --side-by-side

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
	syntax-theme = Catppuccin Mocha
	hunk-header-decoration-style = ""
	file-decoration-style = ""
	line-numbers-left-format = "{nm:^4} "
	line-numbers-right-format = "{np:^4} "

[merge]
	conflictStyle = zdiff3

[diff]
	colorMoved = default

[rebase]
	autosquash = true

[fetch]
	prune = true

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true