include "config/input.kdl"
include "config/monitor.kdl"
include "config/animations.kdl"
include "config/env.kdl"
include "config/rules.kdl"
include "config/execs.kdl"
include "config/layout.kdl"
include "config/keybinds.kdl"
include "config/switcher.kdl"
include "colors/catppuccin-mocha.kdl"
// include "noctalia.kdl"
